<div class="container">
    <div class="section">
        <h2>Зразок кнопок для тегу button</h2>
        
        <p>Щоб використати колір і анімацію ховера додайте клас button--red чи button--white
            <br>
            <br>
            Для задавання margin, pading, border-radius, font-size, line-height та іншого використовуйте унікальний клас для вашої секції, наприклад about__button
            <br>
            <br>
            Також доступний плейсхолдер саме для кнопки (не лінка)
            <pre>
                %button{
                font-family: inherit;
                border-radius: 22px;
                padding: 12px 37px 11px 37px;
                }
            </pre>
            Щоб використати - вставте @extend %button;
<br>
<br>
        </p>
        
        <button class="about__button button--red">Read more</button>
        <button class="about__button button--white">Read more</button>
        
        <h3>Щоб отримати кнопки зі стрілками додайте всередину button тег SVG з атрибутами class="button__icon" width="7px" height="10px" та use з посиланням</h3>
        <p>use href="./images/icons.svg#icon-red-button"</p>
        <p>або</p>
        <p>use href="./images/icons.svg#icon-white-button"</p>
        
        <button class="about__button button--red">Read more
            <svg class="button__icon" width="7px" height="10px">
                <use href="./images/icons.svg#icon-red-button"></use>
            </svg>
        </button>
        
        <button class="about__button button--white">Read more
            <svg class="button__icon" width="7px" height="10px">
                <use href="./images/icons.svg#icon-white-button"></use>
            </svg>
        </button>
    </div>
</div>
