<div class="container">
    <div class="section">
        <h2>Зразок кнопок для тегу button, special для команди</h2>
        
        <p>Щоб використати оформлення додайте кнопці клас "red-button" або "white-button"</p>
        
        
        <button class="red-button">Read more</button>
        <button class="white-button">Read more</button>
        
        <h3>Щоб отримати кнопки зі стрілками додайте всередину button тег SVG з класом "button__icon" та use з посиланням</h3>
        <p>use href="./images/icons.svg#icon-red-button"</p>
        <p>use href="./images/icons.svg#icon-white-button"</p>
        
        <button class="red-button">Read more
            <svg class="button__icon" width="7px" height="10px">
                <use href="./images/icons.svg#icon-red-button"></use>
            </svg>
        </button>
        
        <button class="white-button">Read more
            <svg class="button__icon" width="7px" height="10px">
                <use href="./images/icons.svg#icon-white-button"></use>
            </svg>
        </button>

        <p>Щоб задати свої налаштування (наприклад щоб перебити pading) - додайте в тег button свій унікальний клас, до прикладу class="red-button about__button"</p>
    </div>
</div>
