<section class="section">
  <form enctype="multipart/form-data" method="post" id="form" onsubmit="send(event, 'send.php')">
    <p>Имя</p>
    <input placeholder="Представьтесь" name="name" type="text" />
    <p>Email</p>
    <input placeholder="Укажите почту" name="email" type="text" />
    <p>Сообщение</p>
    <textarea name="text"></textarea>
    <p>Прикрепить файлы</p>
    <input type="file" name="myfile[]" multiple id="myfile" />
    <p><input value="Отправить" type="submit" /></p>
  </form>
</section>
