 <picture>
          <source
            srcset="images/portfolio/l/pf_9.webp 1x, images/portfolio/l/pf_9@2.webp 2x"
            alt="Пример работ Growing Business"
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="images/portfolio/l/pf_9.jpg 1x, images/portfolio/l/pf_9@2.jpg 2x"
            alt="Пример работ Growing Business"
            media="(min-width: 1200px)"
            type="image/jpeg"
          />
          <source
            srcset="images/portfolio/m/pf_9.webp 1x, images/portfolio/m/pf_9@2.webp 2x"
            alt="Пример работ Growing Business"
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="images/portfolio/m/pf_9.jpg 1x, images/portfolio/m/pf_9@2.jpg 2x"
            alt="Пример работ Growing Business"
            media="(min-width: 768px)"
            type="image/jpeg"
          />
          <source
            srcset="images/portfolio/s/pf_9.webp 1x, images/portfolio/s/pf_9@2.webp 2x"
            alt="Пример работ Growing Business"
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="images/portfolio/s/pf_9.jpg 1x, images/portfolio/s/pf_9@2.jpg 2x"
            alt="Пример работ Growing Business"
            media="(max-width: 767px)"
            type="image/jpeg"
          />

          <img src="images/portfolio/s/pf_9.jpg" alt="Пример работ Growing Business" />
        </picture>