$start-width: 320px;
$mobile: 480px;
$tablet: 768px;
$desktop: 1280px;

$main-color: #FFB8CA;
$menu-color: #E17992;
$second-color: #FFA5BA;


$font-primary: "DM Sans";
$font-primary-rezerv: "sans-serif";
$font-titel: "Titan One";


$color-font-main: #000000;
$color-font-second: #907E82;
$color-font-calendar: #FFA5BA;

$color-font-red: #D41443;
$color-font-white:  #FFFFFF;
;
$color-font-span:  #FFA5BA;
;

//products-cards-bg
$card-1-front-bg: #FFB8CA;
$card-1-back-bg: #ffd2dd;
$card-2-front-bg: #F0D1A5;
$card-2-back-bg: #f4dcbb;
$card-3-front-bg: #C2E297;
$card-3-back-bg: #cee8ab;