<section class="about-section">
    <div class="container about-overlay">
        <h2 class="section__title">
            <span class="section__subtitle">tradition and love</span>
            how it’s made?
        </h2>
        <div class="about__content">
                    <picture class="about__image">
                        <source srcset="
                                                    images/about/l/milk.webp    1x,
                                                    images/about/l/milk@2x.webp 2x
                                                  " media="(min-width: 1280px)" type="image/webp" />
                        <source srcset="
                                                    images/about/l/milk.png    1x,
                                                    images/about/l/milk@2x.png 2x
                                                  " media="(min-width: 1280px)" type="image/png" />
                        <source srcset="
                                                    images/about/m/milk.webp    1x,
                                                    images/about/m/milk@2x.webp 2x
                                                  " media="(min-width: 768px)" type="image/webp" />
                        <source srcset="
                                                    images/about/m/milk.png    1x,
                                                    images/about/m/milk@2x.png 2x
                                                  " media="(min-width: 768px)" type="image/png" />
                        <source srcset="
                                                    images/about/s/milk.webp    1x,
                                                    images/about/s/milk@2x.webp 2x
                                                  " media="(max-width: 767px)" type="image/webp" />
                        <source srcset="images/about/s/milk@2x.png 2x" media="(max-width: 767px)" type="image/png" />
                    
                        <img src="images/about/s/milk.png" alt="Cow and bottle of milk" width="418" height="360" />
                    </picture>
                    
                    <div class="about__text">
                        <p class="about__text-first">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
                            lorem eget,
                            egestas eros.
                            Maecenas eleifend erat at justo fringilla.</p>
                        <p class="about__text-medium">
                            Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet
                            placerat.
                            Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
                            <br>
                            <br>
                        Aliquam erat volutpat. Aenean accumsan.
                        </p>
                    
                        <button class="white-button about__button">Read more
                            <svg class="button__icon" width="7px" height="10px">
                                <use href="./images/icons.svg#icon-white-button"></use>
                            </svg>
                        </button>
                    </div>
        </div>

    </div>
</section>