<section class="advantages section" id="advantages">
  <div class="container">
    <h2 class="advantages__title section__title visually-hidden">advantages</h2>
    <ul class="advantages__list">
      <li class="advantages__item">
        <p class="advantages__calc">
          <span class="advantages__calc-num"> 720</span><br />
          <span class="advantages__descripton">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </span>
        </p>
      </li>
      <li class="advantages__item">
        <p class="advantages__calc">
          <span class="advantages__calc-num">14</span>kg<br />
          <span class="advantages__descripton">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </span>
        </p>
      </li>
      <li class="advantages__item">
        <p class="advantages__calc">
          <span class="advantages__calc-num">84</span><br />
          <span class="advantages__descripton">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </span>
        </p>
      </li>
    </ul>
  </div>
</section>
