<section class="contacts" id="contact">
  <div class="container">
    <h2 class="contacts__title visually-hidden" aria-hidden="true" tabindex="-1">Contacts</h2>

    <ul class="contacts__list">
      <li class="contacts__item">
        <p class="contacts__accent">CAFE</p>
        <p class="contacts__uppertext">Chicago</p>
        <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

        <ul class="contacts__wrapper">
          <li class="contacts__element">
            <p>Monday - Friday</p>
            <p class="contacts__time"><time>06:00</time> AM - <time>10:00</time> PM</p>
          </li>

          <li class="contacts__element">
            <p>Saturday - Sunday</p>
            <p class="contacts__time"><time>08:00</time> AM - <time>16:00</time> PM</p>
          </li>
        </ul>

        <ul class="adress">
          <li class="adress__list">
            <a class="adress__link" href="tel:+61(0)383766284 ">+61(0)383766284</a>
          </li>

          <li class="adress__list">
            <a class="adress__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>

      <li class="contacts__item">
        <p class="contacts__accent contacts__accent--another">FOODTRUCK</p>
        <p class="contacts__uppertext">Los Angeles</p>
        <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

        <ul class="contacts__wrapper">
          <li class="contacts__element">
            <p>Monday - Friday</p>
            <p class="contacts__time"><time>06:00</time> AM - <time>10:00</time> PM</p>
          </li>

          <li class="contacts__element">
            <p>Saturday - Sunday</p>
            <p class="contacts__time"><time>08:00</time> AM - <time>16:00</time> PM</p>
          </li>
        </ul>

        <ul class="adress">
          <li class="adress__list">
            <a class="adress__link" href="tel:+61(0)383766284 ">+61(0)383766284</a>
          </li>

          <li class="adress__list">
            <a class="adress__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>

      <li class="contacts__item">
        <p class="contacts__accent">CAFE</p>
        <p class="contacts__uppertext">New York</p>
        <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

        <ul class="contacts__wrapper">
          <li class="contacts__element">
            <p>Monday - Friday</p>
            <p class="contacts__time"><time>06:00</time> AM - <time>10:00</time> PM</p>
          </li>

          <li class="contacts__element">
            <p>Saturday - Sunday</p>
            <p class="contacts__time"><time>08:00</time> AM - <time>16:00</time> PM</p>
          </li>
        </ul>

        <ul class="adress">
          <li class="adress__list">
            <a class="adress__link" href="tel:+61(0)383766284 ">+61(0)383766284</a>
          </li>

          <li class="adress__list">
            <a class="adress__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
    </ul>

    <ul class="group">
      <li class="group__item">
        <button class="group__btn group__btn--red js-open-modal" type="button"  data-modal="map" >
          Our Locations
          <svg class="group__icon">
            <use href="./images/icons.svg#icon-red-button"></use>
          </svg>
        </button>
      </li>
      <li class="group__item">
        <button class="group__btn group__btn--white" type="button">
          Franchise
          <svg class="group__icon">
            <use href="./images/icons.svg#icon-white-button"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
