<section class="section customer" id="customer">
  <h2 hidden>slider customer hidden</h2>

  <!-- Swiper -->
  <div class="swiper">
    <div class="swiper-wrapper">
      <!-- swiper slide! -->
      <div class="swiper-slide">
        <div class="customer__container">
          <!-- swiper slide! -->
          <!-- CONTENT -->
          <!-- IMG -->
          <img
            class="customer__photos"
            src="/images/customer_reviews/slm/card1_result.webp"
            alt="customer"
          />
          <!-- TEXT -->
          <div class="customer__blockquote">
            <p class="customer__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <!-- COMMENT -->
          <ul class="customer__carusel">
            <li class="customer__items">
              <svg width="4" height="4">
                <use href="/images/customer_reviews/slm/dots.svg"></use>
              </svg>
            </li>
            <li class="customer__items">
              <svg width="12" height="12">
                <use href="/images/customer_reviews/slm/dots.svg"></use>
              </svg>
            </li>
            <li class="customer__items">
              <svg width="4" height="4">
                <use href="/images/customer_reviews/slm/dots.svg"></use>
              </svg>
            </li>
          </ul>
          <p class="customer__comment">Emily, Los Angeles</p>
        </div>
      </div>
      <!-- SECOND SLIDE -->
      <div class="swiper-slide">
        <div class="customer__container">
          <!-- swiper slide! -->
          <!-- CONTENT -->
          <!-- IMG -->
          <img
            class="customer__photos"
            src="/images/customer_reviews/slm/card2_result.webp"
            alt="customer"
          />
          <!-- TEXT -->
          <div class="customer__blockquote">
            <p class="customer__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>

          <!-- COMMENT -->
          <ul class="customer__carusel">
            <li class="customer__items">
              <svg width="4" height="4">
                <use href="/images/customer_reviews/slm/dots.svg"></use>
              </svg>
            </li>
            <li class="customer__items">
              <svg width="12" height="12">
                <use href="/images/customer_reviews/slm/dots.svg"></use>
              </svg>
            </li>
            <li class="customer__items">
              <svg width="4" height="4">
                <use href="/images/customer_reviews/slm/dots.svg"></use>
              </svg>
            </li>
          </ul>
          <p class="customer__comment">Viktoria, Ukraine</p>
        </div>
      </div>
      <!-- THIRD SLIDE -->
      <div class="swiper-slide">
        <div class="customer__container">
          <!-- swiper slide! -->
          <!-- CONTENT -->
          <!-- IMG -->
          <img
            class="customer__photos"
            src="/images/customer_reviews/slm/card3_result.webp"
            alt="customer"
          />
          <!-- TEXT -->
          <div class="customer__blockquote">
            <p class="customer__text">
             
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <!-- COMMENT -->
          <ul class="customer__carusel">
            <li class="customer__items">
              <svg width="4" height="4">
                <use href="/images/customer_reviews/slm/dots.svg"></use>
              </svg>
            </li>
            <li class="customer__items">
              <svg width="4" height="4">
                <use href="/images/customer_reviews/slm/dots.svg"></use>
              </svg>
            </li>
            <li class="customer__items">
              <svg width="4" height="4">
                <use href="/images/customer_reviews/slm/dots.svg"></use>
              </svg>
            </li>
          </ul>
          <p class="customer__comment">Ursula, Norway</p>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
