<section class="gallery">
    <div class="gallery__thumb">
        <img srcset="
            src/images/gallery/1-139.jpg 12w,
            src/images/gallery/1-277.jpg 23w" 
            src="src/images/gallery/1-139.jpg" 
            alt="Галерея ice cream"
            sizes="(min-width:1200px) 139px, 100vw">
    </div>
    <div class="gallery__column">
        <div class="gallery__thumb">
            <img srcset="
                src/images/gallery/2-139.jpg 12w,
                src/images/gallery/2-276.jpg 23w" 
                src="src/images/gallery/2-139.jpg" 
                alt="Галерея ice cream"
                sizes="(min-width:1200px) 139px, 100vw">
        </div>
        <div class="gallery__thumb">
            <img srcset="
                src/images/gallery/3-139.jpg 12w,
                src/images/gallery/3-280.jpg 23w" 
                src="src/images/gallery/3-139.jpg" 
                alt="Галерея ice cream"
                sizes="(min-width:1200px) 139px, 100vw">
        </div>
    </div>
    <div class="gallery__column">
        <div class="gallery__thumb">
            <img srcset="
                src/images/gallery/4-285.jpg 24w,
                src/images/gallery/4-569.jpg 48w" 
                src="src/images/gallery/4-285.jpg" 
                alt="Галерея ice cream"
                sizes="(min-width:1200px) 285px, 100vw">
        </div>
        <div class="gallery__thumb">
            <img srcset="
                src/images/gallery/5-140.jpg 12w,
                src/images/gallery/5-276.jpg 23w" 
                src="src/images/gallery/5-140.jpg" 
                alt="Галерея ice cream"
                sizes="(min-width:1200px) 140px, 100vw">
        </div>
    </div>
    <div class="gallery__column">
        <div class="gallery__thumb">
            <img srcset="
                src/images/gallery/6-139.jpg 12w,
                src/images/gallery/6-278.jpg 23w" 
                src="src/images/gallery/6-139.jpg" 
                alt="Галерея ice cream"
                sizes="(min-width:1200px) 139px, 100vw">
        </div>
        <div class="gallery__thumb">
            <img srcset="
                src/images/gallery/7-139.jpg 12w,
                src/images/gallery/7-277.jpg 23w" 
                src="src/images/gallery/7-139.jpg" 
                alt="Галерея ice cream"
                sizes="(min-width:1200px) 139px, 100vw">
        </div>
    </div>
    <div class="gallery__column">
        <div class="gallery__thumb">
            <img srcset="
                src/images/gallery/8-140.jpg 12w,
                src/images/gallery/8-278.jpg 23w" 
                src="src/images/gallery/8-140.jpg" 
                alt="Галерея ice cream"
                sizes="(min-width:1200px) 140px, 100vw">
        </div>
        <div class="gallery__thumb">
            <img srcset="
                src/images/gallery/9-140.jpg 12w,
                src/images/gallery/9-278.jpg 23w" 
                src="src/images/gallery/9-140.jpg" 
                alt="Галерея ice cream"
                sizes="(min-width:1200px) 140px, 100vw">
        </div>
    </div>
    <div class="gallery__thumb">
        <img srcset="
            src/images/gallery/10-139.jpg 12w,
            src/images/gallery/10-277.jpg 23w" 
            src="src/images/gallery/10-139.jpg" 
            alt="Галерея ice cream"
            sizes="(min-width:1200px) 139px, 100vw">
    </div>
</section>