<section class="section gallery__section" id="gallery__section">
    <div class="container gallery">
        <div class="gallery__column">
            <h2 class="gallery__tittle visually-hidden">Gallery</h2>
            <div class="gallery__thumb">
                <picture>
                    <source srcset="images/gallery/l/img-1.webp 1x, images/gallery/l/img-1@2.webp 2x"
                        media="(min-width: 1280px)" type="image/webp" />
                    <source srcset="images/gallery/l/img-1.jpg 1x, images/gallery/l/img-1@2.jpg 2x" media="(min-width: 1280px)"
                        type="image/jpeg" />
                    <source srcset="images/gallery/m/img-1.webp 1x, images/gallery/m/img-1@2.webp 2x" media="(min-width: 768px)"
                        type="image/webp" />
                    <source srcset="images/gallery/m/img-1.jpg 1x, images/gallery/m/img-1@2.jpg 2x" media="(min-width: 768px)"
                        type="image/jpeg" />
                    <source srcset="images/gallery/s/img-1.webp 1x, images/gallery/s/img-1@2.webp 2x" media="(max-width: 767px)"
                        type="image/webp" />
                    <source srcset="images/gallery/s/img-1.jpg 1x, images/gallery/s/img-1@2.jpg 2x" media="(max-width: 767px)"
                        type="image/jpeg" />
                    <img src="images/gallery/l/img-1.jpg" alt="фото гелерея мороженного"/>
                </picture>
            </div>
        </div>
        <div class="gallery__column gallery__column--first">
            <div class="gallery__thumb gallery__thumb--rotated">
                <picture>
                    <source srcset="images/gallery/l/img-2.webp 1x, images/gallery/l/img-2@2.webp 2x"
                        media="(min-width: 1280px)" type="image/webp" />
                    <source srcset="images/gallery/l/img-2.jpg 1x, images/gallery/l/img-2@2.jpg 2x" media="(min-width: 1280px)"
                        type="image/jpeg" />
                    <source srcset="images/gallery/m/img-2.webp 1x, images/gallery/m/img-2@2.webp 2x" media="(min-width: 768px)"
                        type="image/webp" />
                    <source srcset="images/gallery/m/img-2.jpg 1x,  images/gallery/m/img-2@2.jpg 2x" media="(min-width: 768px)"
                        type="image/jpeg" />
                    <source srcset="images/gallery/s/img-2.webp 1x, images/gallery/s/img-2@2.webp 2x" media="(max-width: 767px)"
                        type="image/webp" />
                    <source srcset="images/gallery/s/img-2.jpg 1x, images/gallery/s/img-2@2.jpg 2x" media="(max-width: 767px)"
                        type="image/jpeg" />
                    <img src="images/gallery/l/img-2.jpg" alt="фото гелерея мороженного"/>
                </picture>
            </div>
            <div class="gallery__thumb">
                <picture>
                    <source srcset="images/gallery/l/img-3.webp 1x, images/gallery/l/img-3@2.webp 2x"
                        media="(min-width: 1280px)" type="image/webp" />
                    <source srcset="images/gallery/l/img-3.jpg 1x, images/gallery/l/img-3@2.jpg 2x" media="(min-width: 1280px)"
                        type="image/jpeg" />
                    <source srcset="images/gallery/m/img-3.webp 1x, images/gallery/m/img-3@2.webp 2x" media="(min-width: 768px)"
                        type="image/webp" />
                    <source srcset="images/gallery/m/img-3.jpg 1x, images/gallery/m/img-3@2.jpg 2x" media="(min-width: 768px)"
                        type="image/jpeg" />
                    <source srcset="images/gallery/s/img-3.webp 1x, images/gallery/s/img-3@2.webp 2x" media="(max-width: 767px)"
                        type="image/webp" />
                    <source srcset="images/gallery/s/img-3.jpg 1x, images/gallery/s/img-3@2.jpg 2x" media="(max-width: 767px)"
                        type="image/jpeg" />
                    <img src="images/gallery/l/img-3.jpg" alt="фото гелерея мороженного"/>
                </picture>
            </div>
        </div>
        <div class="gallery__column gallery__column--second">
            <div class="gallery__thumb gallery__thumb--rotated">
                <picture>
                    <source srcset="images/gallery/l/img-4.webp 1x, images/gallery/l/img-4@2.webp 2x"
                        media="(min-width: 1280px)" type="image/webp" />
                    <source srcset="images/gallery/l/img-4.jpg 1x, images/gallery/l/img-4@2.jpg 2x" media="(min-width: 1280px)"
                        type="image/jpeg" />
                    <source srcset="images/gallery/m/img-4.webp 1x, images/gallery/m/img-4@2.webp 2x" media="(min-width: 768px)"
                        type="image/webp" />
                    <source srcset="images/gallery/m/img-4.jpg 1x, images/gallery/m/img-4@2.jpg 2x" media="(min-width: 768px)"
                        type="image/jpeg" />
                    <source srcset="images/gallery/s/img-4.webp 1x, images/gallery/s/img-4@2.webp 2x" media="(max-width: 767px)"
                        type="image/webp" />
                    <source srcset="images/gallery/s/img-4.jpg 1x, images/gallery/s/img-4@2.jpg 2x" media="(max-width: 767px)"
                        type="image/jpeg" />
                    <img src="images/gallery/l/img-4.jpg" alt="фото гелерея мороженного"/>
                </picture>
            </div>
            <div class="gallery__thumb gallery__thumb--changed">
                <picture>
                    <source srcset="images/gallery/l/img-5.webp 1x, images/gallery/l/img-5@2.webp 2x"
                        media="(min-width: 1280px)" type="image/webp" />
                    <source srcset="images/gallery/l/img-5.jpg 1x, images/gallery/l/img-5@2.jpg 2x" media="(min-width: 1280px)"
                        type="image/jpeg" />
                    <source srcset="images/gallery/m/img-5.webp 1x, images/gallery/m/img-5@2.webp 2x" media="(min-width: 768px)"
                        type="image/webp" />
                    <source srcset="images/gallery/m/img-5.jpg 1x, images/gallery/m/img-5@2.jpg 2x" media="(min-width: 768px)"
                        type="image/jpeg" />
                    <source srcset="images/gallery/s/img-5.webp 1x, images/gallery/s/img-5@2.webp 2x" media="(max-width: 767px)"
                        type="image/webp" />
                    <source srcset="images/gallery/s/img-5.jpg 1x, images/gallery/s/img-5@2.jpg 2x" media="(max-width: 767px)"
                        type="image/jpeg" />
                    <img src="images/gallery/l/img-5.jpg" alt="фото гелерея мороженного"/>
                </picture>
            </div>
        </div>
        <div class="gallery__column gallery__column--third">
            <div class="gallery__thumb gallery__thumb--rotated">
                <picture>
                    <source srcset="images/gallery/l/img-6.webp 1x, images/gallery/l/img-6@2.webp 2x"
                        media="(min-width: 1280px)" type="image/webp" />
                    <source srcset="images/gallery/l/img-6.jpg 1x, images/gallery/l/img-6@2.jpg 2x" media="(min-width: 1280px)"
                        type="image/jpeg" />
                    <source srcset="images/gallery/m/img-6.webp 1x, images/gallery/m/img-6@2.webp 2x" media="(min-width: 768px)"
                        type="image/webp" />
                    <source srcset="images/gallery/m/img-6.jpg 1x, images/gallery/m/img-6@2.jpg 2x" media="(min-width: 768px)"
                        type="image/jpeg" />
                    <source srcset="images/gallery/s/img-6.webp 1x, images/gallery/s/img-6@2.webp 2x" media="(max-width: 767px)"
                        type="image/webp" />
                    <source srcset="images/gallery/s/img-6.jpg 1x, images/gallery/s/img-6@2.jpg 2x" media="(max-width: 767px)"
                        type="image/jpeg" />
                    <img src="images/gallery/l/img-6.jpg" alt="фото гелерея мороженного"/>
                </picture>
            </div>
            <div class="gallery__thumb gallery__thumb">
                <picture>
                    <source srcset="images/gallery/l/img-7.webp 1x, images/gallery/l/img-7@2.webp 2x"
                        media="(min-width: 1280px)" type="image/webp" />
                    <source srcset="images/gallery/l/img-7.jpg 1x, images/gallery/l/img-7@2.jpg 2x" media="(min-width: 1280px)"
                        type="image/jpeg" />
                    <source srcset="images/gallery/m/img-7.webp 1x, images/gallery/m/img-7@2.webp 2x" media="(min-width: 768px)"
                        type="image/webp" />
                    <source srcset="images/gallery/m/img-7.jpg 1x,  images/gallery/m/img-7@2.jpg 2x" media="(min-width: 768px)"
                        type="image/jpeg" />
                    <source srcset="images/gallery/s/img-7.webp 1x, images/gallery/s/img-7@2.webp 2x" media="(max-width: 767px)"
                        type="image/webp" />
                    <source srcset="images/gallery/s/img-7.jpg 1x, images/gallery/s/img-7@2.jpg 2x" media="(max-width: 767px)"
                        type="image/jpeg" />
                    <img src="images/gallery/l/img-7.jpg" alt="фото гелерея мороженного"/>
                </picture>
            </div>
        </div>
        <div class="gallery__column gallery__column--fourth">
            <div class="gallery__thumb gallery__thumb--rotated">
                <picture>
                    <source srcset="images/gallery/l/img-8.webp 1x, images/gallery/l/img-8@2.webp 2x"
                        media="(min-width: 1280px)" type="image/webp" />
                    <source srcset="images/gallery/l/img-8.jpg 1x, images/gallery/l/img-8@2.jpg 2x" media="(min-width: 1280px)"
                        type="image/jpeg" />
                    <source srcset="images/gallery/m/img-8.webp 1x, images/gallery/m/img-8@2.webp 2x" media="(min-width: 768px)"
                        type="image/webp" />
                    <source srcset="images/gallery/m/img-8.jpg 1x, images/gallery/m/img-8@2.jpg 2x" media="(min-width: 768px)"
                        type="image/jpeg" />
                    <source srcset="images/gallery/s/img-8.webp 1x, images/gallery/s/img-8@2.webp 2x" media="(max-width: 767px)"
                        type="image/webp" />
                    <source srcset="images/gallery/s/img-8.jpg 1x, images/gallery/s/img-8@2.jpg 2x" media="(max-width: 767px)"
                        type="image/jpeg" />
                    <img src="images/gallery/l/img-8.jpg" alt="фото гелерея мороженного"/>
                </picture>
            </div>
            <div class="gallery__thumb">
                <picture>
                    <source srcset="images/gallery/l/img-9.webp 1x, images/gallery/l/img-9@2.webp 2x"
                        media="(min-width: 1280px)" type="image/webp" />
                    <source srcset="images/gallery/l/img-9.jpg 1x, images/gallery/l/img-9@2.jpg 2x" media="(min-width: 1280px)"
                        type="image/jpeg" />
                    <source srcset="images/gallery/m/img-9.webp 1x, images/gallery/m/img-9@2.webp 2x" media="(min-width: 768px)"
                        type="image/webp" />
                    <source srcset="images/gallery/m/img-9.jpg 1x, images/gallery/m/img-9@2.jpg 2x" media="(min-width: 768px)"
                        type="image/jpeg" />
                    <source srcset="images/gallery/s/img-9.webp 1x, images/gallery/s/img-9@2.webp 2x" media="(max-width: 767px)"
                        type="image/webp" />
                    <source srcset="images/gallery/s/img-9.jpg 1x, images/gallery/s/img-9@2.jpg 2x" media="(max-width: 767px)"
                        type="image/jpeg" />
                    <img src="images/gallery/l/img-9.jpg" alt="фото гелерея мороженного"/>
                </picture>
            </div>
        </div>
        <div class="gallery__column">
            <div class="gallery__thumb">
                <picture>
                    <source srcset="images/gallery/l/img-10.webp 1x, images/gallery/l/img-10@2.webp 2x"
                        media="(min-width: 1280px)" type="image/webp" />
                    <source srcset="images/gallery/l/img-10.jpg 1x, images/gallery/l/img-10@2.jpg 2x"
                        media="(min-width: 1280px)" type="image/jpeg" />
                    <source srcset="images/gallery/m/img-10.webp 1x, images/gallery/m/img-10@2.webp 2x"
                        media="(min-width: 768px)" type="image/webp" />
                    <source srcset="images/gallery/m/img-10.jpg 1x, images/gallery/m/img-10@2.jpg 2x" media="(min-width: 768px)"
                        type="image/jpeg" />
                    <source srcset="images/gallery/s/img-10.webp 1x, images/gallery/s/img-10@2.webp 2x"
                        media="(max-width: 767px)" type="image/webp" />
                    <source srcset="images/gallery/s/img-10.jpg 1x, images/gallery/s/img-10@2.jpg 2x" media="(max-width: 767px)"
                        type="image/jpeg" />
                    <img src="images/gallery/l/img-10.jpg" alt="фото гелерея мороженного"/>
                </picture>
            </div>
        </div>
    </div>
</section>