<section class="header">
    <div class="container">

        <nav class="nav-header">
            <div class="header-logo"> <a class="header-logo" href="/index.html">
                    <img class="logo" src="/images/header/logo.png" alt="logo" width="199px">
                </a></div>
            <ul class="header-nav">
                <li class="header-nav__items"><a class="header-nav__links" href="">Home</a></li>
                <li class="header-nav__items"><a class="header-nav__links" href="">About us</a></li>
                <li class="header-nav__items"><a class="header-nav__links" href="">How it’s made?</a></li>
                <li class="header-nav__items"><a class="header-nav__links" href="">Our products</a></li>
                <li class="header-nav__items"><a class="header-nav__links" href="">Contact</a></li>
            </ul>
            <button class="button-menu" data-menu-button type="button" aria-expanded="false">
                <svg class="button-menu-icon">
                    <use class="icon-open" href="/images/icons.svg#icon-menu"></use>
                    <use class="icon-cloze" href="/images/icons.svg#icon-close_menu"></use>
                </svg>
            </button>
            <div class="mobile-menu"data-menu>
                <button class="mobile-button js-open-modal" data-modal="2" type="button">Buy now
                    <svg class="header__svg">
                        <use href="/images/icons.svg#icon-white-button"></use>
                    </svg>
                </button>
                <ul class="mobile-nav">
                    <li class="mobile__item"><a class="mobile__links" href="">Home</a></li>
                    <li class="mobile__item"><a class="mobile__links" href="">About us</a></li>
                    <li class="mobile__item"><a class="mobile__links" href="">How it’s made?</a></li>
                    <li class="mobile__item"><a class="mobile__links" href="">Our products</a></li>
                    <li class="mobile__item"><a class="mobile__links" href="">Contact</a></li>
                </ul>
            </div>
            <button class="header__button js-open-modal" data-modal="2" type="button">Buy now
                <svg class="header__svg">
                    <use href="/images/icons.svg#icon-white-button"></use>
                </svg>
            </button>
        </nav>
    </div>

</section>