<section class="hero">
  <div class="hero__container">
    <div class="hero__wrapper">
      <h1 class="hero__title">ice cream made with <span class="hero__title--red">passion</span></h1>
      <ul class="links">
        <li class="links__item">
          <a href="#products" class="links__link links__link--red">Products</a>
        </li>
        <li class="links__item">
          <a href="#about" class="links__link links__link--white">How it’s made?</a>
        </li>
      </ul>
    </div>

    <ul class="counters">
      <li class="counters__item">
        <p class="counters__count">
          <span class="calc-num">16</span>
          <span class="counters__name">cafes</span>
        </p>
        
      </li>
      <li class="counters__item">
        <p class="counters__count">
          <span class="calc-num">23</span>
          <span class="counters__name">food trucks</span>
      </p>
      </li>
    </ul>

    <div class="promo">
      <p class="promo__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <button class="btn promo__btn js-open-modal" data-modal="sale" aria-label="get promo code">
        <svg class="promo__icon">
          <use href="./images/icons.svg#arrow-right"></use>
        </svg>
      </a>
    </div>

    <picture>
      <source
        srcset="images/hero/l/ice-creame.webp 1x, images/hero/l/ice-creame@2x.webp 2x"
        media="(min-width: 1280px)"
        type="image/webp"
      />
      <source
        srcset="images/hero/l/ice-creame.png 1x, images/hero/l/ice-creame@2x.png 2x"
        media="(min-width: 1280px)"
        type="image/jpeg"
      />
      <source
        srcset="images/hero/m/ice-creame.webp 1x, images/hero/m/ice-creame@2x.webp 2x"
        media="(min-width: 768px)"
        type="image/webp"
      />
      <source
        srcset="images/hero/m/ice-creame.png 1x, images/hero/m/ice-creame@2x.png 2x"
        media="(min-width: 768px)"
        type="image/jpeg"
      />
      <source
        srcset="images/hero/s/ice-creame.webp 1x, images/hero/s/ice-creame@2x.webp 2x"
        media="(max-width: 767px)"
        type="image/webp"
      />
      <source
        srcset="images/hero/s/ice-creame.png 1x, images/hero/s/ice-creame@2x.png 2x"
        media="(max-width: 767px)"
        type="image/jpeg"
      />

      <img class="hero__icecream backInUp" src="images/hero/s/ice-creame.png" alt="ICEREAME" />
    </picture>

    <div class="hero__circle"></div>

    <picture>
      <source
        srcset="images/hero/l/milk.webp 1x, images/hero/l/milk@2x.webp 2x"
        media="(min-width: 1280px)"
        type="image/webp"
      />
      <source
        srcset="images/hero/l/milk.png 1x, images/hero/l/milk@2x.png 2x"
        media="(min-width: 1280px)"
        type="image/jpeg"
      />
      <source
        srcset="images/hero/m/milk.webp 1x, images/hero/m/milk@2x.webp 2x"
        media="(min-width: 768px)"
        type="image/webp"
      />
      <source
        srcset="images/hero/m/milk.png 1x, images/hero/m/milk@2x.png 2x"
        media="(min-width: 768px)"
        type="image/jpeg"
      />

      <img class="hero__milk backInLeft" src="images/hero/m/milk.png" alt="Milk" />
    </picture>

    <picture>
      <source
        srcset="images/hero/l/girl.webp 1x, images/hero/l/girl@2x.webp 2x"
        media="(min-width: 1280px)"
        type="image/webp"
      />
      <source
        srcset="images/hero/l/girl.png 1x, images/hero/l/girl@2x.png 2x"
        media="(min-width: 1280px)"
        type="image/jpeg"
      />
      <source
        srcset="images/hero/m/girl.webp 1x, images/hero/m/girl@2x.webp 2x"
        media="(min-width: 768px)"
        type="image/webp"
      />
      <source
        srcset="images/hero/m/girl.png 1x, images/hero/m/girl@2x.png 2x"
        media="(min-width: 768px)"
        type="image/jpeg"
      />

      <img class="hero__girl backInRight" src="images/hero/m/girl.png" alt="girl" />
    </picture>
  </div>
</section>
