<section class="products section" id="products">
    <div class="container">
        <p class="products__subtitle section__subtitle">100% natural</p>
        <h2 class="products__title section__title">products</h2>
        <ul class="products__cards cards">
            <li class="cards__item" data-card1>
                <div class="cards__side cards__side--front card-1 animItems">
                    <h3 class="cards__title">ice cream</h3>
                    <p class="cards__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
                    <button class="cards__btn btn-circle" type="button" aria-label="card-flip-right" data-card1-btn-right>
                        <svg class="btn-circle__icon">
                            <use href="/images/icons.svg#arrow-right"></use>
                        </svg>
                    </button>
                </div>
                <div class="cards__side cards__side--back card-1 animItems">
                    <h3 class="cards__title">ice cream</h3>
                    <p class="cards__desc">You flipped the card. Well done!</p>
                    <form class="cards__form promo-form js-speaker-form" name="promo-cod-form">
                        <input class="promo-form__input-email" type="email" name="promo-email" autocomplete="email" placeholder="E-mail">
                        <button class="promo-form__btn js-open-modal" type="button" data-modal="4" aria-label="get-a-promo-code">get a promo code</button>
                    </form>                    
                    <button class="cards__btn btn-circle" type="button" aria-label="card-flip-left" data-card1-btn-left>
                        <svg class="btn-circle__icon">
                            <use href="/images/icons.svg#arrow-left"></use>
                        </svg>
                    </button>
                </div>                
            </li>
            <li class="cards__item" data-card2>
                <div class="cards__side cards__side--front card-2 animItems">
                    <h3 class="cards__title">ice coffee</h3>
                    <p class="cards__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
                    <button class="cards__btn btn-circle" type="button" aria-label="card-flip-right" data-card2-btn-right>
                        <svg class="btn-circle__icon">
                            <use href="/images/icons.svg#arrow-right"></use>
                        </svg>
                    </button>
                </div>
                <div class="cards__side cards__side--back card-2 animItems">
                    <h3 class="cards__title">ice coffee</h3>
                    <p class="cards__desc">You flipped the card. Well done!</p>
                    <form class="cards__form promo-form js-speaker-form" name="promo-cod-form">
                        <input class="promo-form__input-email" type="email" name="promo-email" autocomplete="email" placeholder="E-mail">
                        <button class="promo-form__btn js-open-modal" type="button" data-modal="4" aria-label="get-a-promo-code">get a promo code</button>
                    </form>
                    <button class="cards__btn btn-circle" type="button" aria-label="card-flip-left" data-card2-btn-left>
                        <svg class="btn-circle__icon">
                            <use href="/images/icons.svg#arrow-left"></use>
                        </svg>
                    </button>
                </div>
            </li>
            <li class="cards__item" data-card3>
                <div class="cards__side cards__side--front card-3 animItems" >
                    <h3 class="cards__title">milkshakes</h3>
                    <p class="cards__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        ut labore et. dolore magna aliqua facilisis.</p>
                    <button class="cards__btn btn-circle" type="button" aria-label="card-flip-right" data-card3-btn-right>
                        <svg class="btn-circle__icon">
                            <use href="/images/icons.svg#arrow-right"></use>
                        </svg>
                    </button>
                </div>
                <div class="cards__side cards__side--back card-3 animItems">
                    <h3 class="cards__title">milkshakes</h3>
                    <p class="cards__desc">You flipped the card. Well done!</p>
                    <form class="cards__form promo-form js-speaker-form" name="promo-cod-form">
                        <input class="promo-form__input-email" type="email" name="promo-email" autocomplete="email" placeholder="E-mail">
                        <button class="promo-form__btn js-open-modal" type="button" data-modal="4" aria-label="get-a-promo-code">get a promo code</button>
                    </form>
                    <button class="cards__btn btn-circle" type="button" aria-label="card-flip-left" data-card3-btn-left>
                        <svg class="btn-circle__icon">
                            <use href="/images/icons.svg#arrow-left"></use>
                        </svg>
                    </button>
                </div>
            </li>            
        </ul>
    </div>
    <div class="promo-modal modal" data-modal="4">
        <p class="promo-modal__title">congratulations</p>
        <p class="promo-modal__text">Promo code sent to your email</p>
        <button class="promo-modal__btn js-modal-close" type="button" aria-label="products-close-modal-btn">
            <svg class="promo-modal__close-icon">
                <use href="/images/icons.svg#icon-close_menu"></use>
            </svg>
        </button>        
    </div>
    <div class="overlay js-overlay-modal"></div>
    <button class="btn-top" type="button" aria-label="btn-top-scroll">
        <svg class="btn-top__icon">
            <use href="/images/icons.svg#btn-top__icon"></use>
        </svg>
    </button>       
</section>