<section class="products">
    <div class="container">
        <h2 class="products__title">
            <p class="products__subtitle">100% natural</p>
            products
        </h2>
        <ul class="products__cards cards">
            <li class="cards__item">
                <h3 class="cards__title">ice cream</h3>
                <p class="cards__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                aliqua facilisis.</p>
                <button class="cards__btn btn-circle" type="button">
                    <svg class="btn-circle__icon">
                        <use href="/images/icons.svg#arrow-right"></use>
                    </svg>
                </button>
            </li>
            <li class="cards__item">
                <h3 class="cards__title">ice coffee</h3>
                <p class="cards__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                aliqua facilisis.</p>
                <button class="cards__btn btn-circle" type="button">
                    <svg class="btn-circle__icon">
                        <use href="/images/icons.svg#arrow-right"></use>
                    </svg>
                </button>
            </li>
            <li class="cards__item">
                <h3 class="cards__title">milkshakes</h3>
                <p class="cards__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                aliqua facilisis.</p>
                <button class="cards__btn btn-circle" type="button">
                    <svg class="btn-circle__icon">
                        <use href="/images/icons.svg#arrow-right"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>