.customer.section {
    @include mq(mobile) {
      @include section-class(80px, 80px);
    }
    @include mq(tablet) {
      @include section-class(80px, 80px);
    }
    @include mq(desktop) {
      @include section-class(120px, 120px);
    }
  }

.container{
padding-left: 74px;
padding-right: 74px;
@include mq(mobile-only){
padding-left: 15px;
padding-right: 15px;
 }
} 
.customer__photos{
background-position: 50% 50%;
background-repeat: no-repeat; 
margin-left: auto;
margin-right: auto;
margin-bottom: 32px;
width: 85px;
height: 85px;
@include mq(mobile){
margin-bottom: 16px; 
 }
}

.customer__blockquote{
  position: relative;
  background-color: #fafafa;
  margin-left: auto;
  margin-right: auto;
  padding: 43px 58px 26px 65px;
  max-width: 620px;
  
    @media screen and(min-width:768px) {
      max-width: 620px;
      background-color: #fafafa;
  
      padding: 37px 55px 44px 50px;
    }
    @media screen and(min-width:1200px) {
      max-width: 1034px;
      background-color: #fafafa;
  
      padding: 47px 135px 39px;
    }
  }
  
  .customer__blockquote::after {
    content: '';
    margin-top: 47px;
    width: 32px;
    height: 4px;
  }

.customer__svg{
  background-image:url(/images/customer_reviews/slm/blockquote.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 60px;
  height: 40px;
  top: 25px;
  left: 52px;
  @media screen and(min-width:768px) {
    width: 54px;
    top: 17px;
    left: 20px;
  }

  @media screen and(min-width:1200px) {
    left: 105px;
    top: 30px;
  }
}

.customer__text{
 position: relative;
  max-width: 514px;
  font-weight: 500;
  font-size: 12px;
  line-height: 31px;
  text-align: center;

  color: #000000;
  background-image: repeating-linear-gradient(transparent -1px, transparent 23px, #e1e1e1 25px);
  background-position-y: 8px;

  @media screen and(min-width:768px) {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.04em;
    max-width: 514px;
  }

  @media screen and(min-width:1200px) {
    font-size: 16px;
    line-height: 30px;
    max-width: 750px;
  }
}


.customer__breadcrumb{
margin: 0;
justify-content: center;
display: flex;
flex-wrap: wrap;
padding: 16px;
list-style: none;  
}

.customer__item::before {
    display: inline-block;
    margin-right: 10px;
    color:$red-btn-bgc--active;
    content: "•";
  }


  .customer__comment{
    text-align: center;
    font-family: "DM Sans";
    font-size: 14px;
    font-weight: 500;
    line-height: 1.8;
    margin-bottom: 32px;
    @include mq(mobile-only){
margin-bottom: 16px;
  }
  }
  .customer__carusel{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .customer__home{
    background-image: url(/images/customer_reviews/slm/home.svg);  
    background-repeat: no-repeat;
    background-position:center;
    margin-right: 18px;
}

.customer__items{
    background-image: url(/images/customer_reviews/slm/Ellipse.svg); 
    background-repeat: no-repeat;
    background-position:center;
}

.customer__home +.customer__items:not(:last-child) {
    margin-right: 18px;
}

// слік цсс


