.header.section {
  @include section-class(0, 0);
  padding-top: 8px;
  @include mq(mobile) {
    @include section-class(0, 0);
    padding-top: 8px;
  }

  @include mq(tablet) {
    @include section-class(0, 0);
    padding-top: 32px;
  }

  @include mq(desktop) {
    @include section-class(0, 0);
  }
}
.header.section .container {
  display: flex;
  align-items: center;
  @include mq(tablet) {
    padding-left: 12px;
    padding-right: 12px;
  }
}
.header {
  left: 0;
  right: 0;
  position: absolute;
  z-index: 10;
  background-color: transparent;
  //   padding-top: 18px;
  @include mq(tablet) {
    padding: 32px;
    // left: 0;
    // right: 0;
  }
  @include mq(desktop) {
    left: 0;
    right: 0;
  }
}

.header-logo {
  display: flex;
  align-items: center;
  width: 199px;
}
.logo-text {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.2;
  color: #d41443;
  text-transform: uppercase;
  margin-left: 20px;
}
.header-nav {
  display: none;
  @include mq(desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@include mq(desktop) {
  .header-nav__items:not(:last-child) {
    margin-right: 35px;
  }

  .header-nav__links {
    display: block;
    white-space: nowrap;
    padding-top: 52px;
    padding-bottom: 52px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    color: $color-font-white;
    transition: color 250ms $functional-cubic;
    &:hover,
    &:focus {
      color: $color-font-red;
    }
  }
}
.header__button {
  color: $color-font-red;
  display: none;

  &:hover,
  &:focus {
    background-color: #ecebeb;
    color: #d41443;
  }

  @include mq(tablet) {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 12px 41px 11px 37px;
    text-align: center;
    background-color: $color-font-white;
    border-radius: 22px;
    margin-left: 32px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    &:hover,
    &:focus {
      background-color: $white-btn-bgc--active;
      color: $color-font-red;
    }
  }
  @include mq(desktop) {
    margin-left: 174px;
  }
}
.header__svg {
  width: 6px;
  height: 10px;
  margin-left: 12px;
}

.nav-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  @include mq(tablet) {
    margin-left: auto;
  }
}

.button-menu {
  position: relative;
  // left: -50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  z-index: 11;
  margin-left: auto;
  @include mq(desktop) {
    display: none;
  }
}

.button-menu-icon {
  width: 30px;
  height: 30px;
  display: flex;
}

.icon-open {
  fill: $color-font-red;
  opacity: 1;
  @include mq(desktop) {
    display: none;
  }
}

.icon-cloze {
  width: 14px;
  height: 14px;
  opacity: 0;
  fill: $color-font-white;

  @include mq(desktop) {
    display: none;
  }
}

.button-menu.is-active {
  position: fixed;
  right: 20px;

  @include mq(tablet) {
    position: fixed;
    right: 32px;
    top: 20px;
  }
}
.button-menu.is-active .icon-cloze {
  opacity: 1;
  transition: opacity 400ms $functional-cubic;
}
.button-menu.is-active .icon-open {
  opacity: 0;
  transition: opacity 400ms $functional-cubic;
}
.mobile-button {
  margin-top: 60px;
  margin-bottom: 19px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: 12px 49px 11px 53px;
  margin-right: auto;
  text-align: center;
  background-color: $color-font-white;
  border-radius: 22px;
  margin-left: 20px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  white-space: nowrap;
  color: $color-font-red;

  &:focus {
    background-color: $white-btn-bgc--active;
    color: $color-font-red;
  }
  @include mq(desktop) {
    display: none;
  }
}

.mobile-menu {
  display: block;
  z-index: 11;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  background: $menu-color;
  z-index: 10;
  height: 100%;
  opacity: 0;

  transition: 450ms $functional-cubic;
  transform: translateX(100%);
  width: 250px;
  
  top: 0;
  right: 0;

  @include mq(tablet) {
    // width: 40%;
    // height: 100%;
    // left: 60%;
  width: 40%;

  }
  @include mq(desktop) {
    display: none;
  }
}
.mobile-menu.is-open .header__button {
  display: none;
}
.mobile-menu.is-open {
  position: fixed;
  opacity: 1;
  transform: translateX(0);
  @include mq(desktop) {
    display: none;
  }
}

.mobile__links {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  color: $color-font-white;
  padding-top: 12px;
  padding-bottom: 12px;
  // border-bottom: 1px solid #E18298;
  display: block;
  &:focus {
    color: $color-font-red;
  }

  @include mq(desktop) {
    display: none;
  }
}
// .mobile__links:first-child{
//     border-top: 1px solid #E18298 ;
// }
.mobile__item {
  // margin-left: 20px;
  padding-left: 20px;
  border-top: 1px solid #e18298;

  &:last-child {
    margin-bottom: 165px;
    border-bottom: 1px solid #e18298;
  }
  @include mq(desktop) {
    display: none;
  }
}

.mobile__item:not(:last-child) {
  // margin-bottom: 22px;
  @include mq(desktop) {
    display: none;
  }
}

// @media screen and(min-width:768px) {
//     .header .container {
//         position: fixed;
//         left: 0;
//         right: 0;
//         z-index: 10;
//         width: 768px;
//         padding: 0 15px;
//         margin: 0 auto;
//         padding-top: 32px;
//     }

//     .header {
//         background-color: #FFB8CA;

//     }

//     .header-nav {
//         display: none;
//     }

//     .nav-header {
//         width: 100%;
//         display: flex;

//         align-items: center;

//     }

//     .header-logo {
//         margin-right: 175px;
//         width: 199px;
//     }

//     .header-nav__links {
//         display: block;
//         white-space: nowrap;
//         padding-top: 52px;
//         padding-bottom: 52px;
//         font-family: 'DM Sans';
//         font-style: normal;
//         font-weight: 700;
//         font-size: 16px;
//         line-height: 1.3;
//         color: #FFFFFF;

//         &:hover,
//         &:focus {
//             color: #D41443;
//             ;
//         }
//     }

//     .header__button {
//         display: block;
//         justify-content: center;
//         align-items: center;
//         padding: 12px 37px 11px 37px;

//         text-align: center;
//         background-color: #FFFFFF;
//         border-radius: 22px;
//         // margin-left: auto;
//         font-family: 'DM Sans';
//         font-style: normal;
//         font-weight: 700;
//         font-size: 16px;
//         line-height: 1.3;

//         &:hover,
//         &:focus {
//             background-color: #ECEBEB;
//             color: #D41443;

//         }
//     }

//     .header__svg {
//         width: 4px;
//         height: 8px;
//         margin-left: 13px;
//     }

//    .button-menu {
//     //    position: absolute;
//        display: flex;
//        justify-content: center;
//        align-items: center;
//        width: 30px;
//        height: 30px;
//        background-color: transparent;
//        border: none;
//        z-index: 11;
//        margin-left: auto;
//        margin-right: 32px;
//    }

//     .button-menu-icon {
//         width: 30px;
//         height: 30px;
//         display: flex;
//     }

//     .icon-open {
//         fill: #D41443;
//         opacity: 1;
//     }

//     .icon-cloze {
//         width: 14px;
//         height: 14px;
//         opacity: 0;
//         fill: #FFFFFF;
//     }
// .button-menu.is-active .icon-cloze {
//     opacity: 1;

// }

// .button-menu.is-active .icon-open {
//     opacity: 0;

// }
//     .mobile-button {
//         margin-top: 60px;
//         margin-bottom: 19px;
//         display: block;
//         justify-content: center;
//         align-items: center;
//         padding: 12px 37px 11px 37px;
//         margin-right: auto;
//         text-align: center;
//         background-color: #FFFFFF;
//         border-radius: 22px;
//         margin-left: 20px;
//         font-family: 'DM Sans';
//         font-style: normal;
//         font-weight: 700;
//         font-size: 16px;
//         line-height: 1.3;

//         &:focus {
//             background-color: #ECEBEB;
//             color: #D41443;
//             ;
//         }
//     }

//     .header__svg {
//         width: 4px;
//         height: 8px;
//         margin-left: 13px;
//     }

//    .mobile-menu {
//        position: absolute;
//        top: 0;
//        right: 0;
//        display: flex;
//        flex-direction: column;
//        background: #E17992;
//        z-index: 10;
//        width: 100%;
//        opacity: 0;
//        transform: translateX(100%);
//    }

//    .mobile-menu.is-open {
//        opacity: 1;
//        transform: translateX(0%);

//    }

//     .mobile__links {
//         font-family: 'DM Sans';
//         font-style: normal;
//         font-weight: 700;
//         font-size: 14px;
//         line-height: 1.3;
//         color: #FFFFFF;
//         padding-top: 12px;
//         padding-bottom: 12px;
//         border-bottom: 1px solid #E18298;
//         display: block;

//         &:focus {
//             color: #D41443;

//         }

//     }

//     .mobile__item {
//         margin-left: 20px;

//         &:last-child {
//             margin-bottom: 165px;
//         }
//     }

//     .mobile__item:not(:last-child) {
//         margin-bottom: 22px;

//     }

// }

// @media screen and(min-width:1200px) {
// .header .container {
//         position: absolute;
//         left: 0;
//         right: 0;
//         width: 1200px;
//         padding: 0 15px;
//         margin: 0 auto;
//         z-index: 9;
//     }
//     .header {

//         background-color: #FFB8CA;
//         padding-top: 37px;
//     }

//     .nav-header {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//     }

//     .header-logo {
//         margin-right: 175px;
//         width: 199px;
//     }

//     .header-nav {
//         display: flex;
//         justify-content: center;
//         align-items: center;

//     }

//     .header-nav__items:not(:last-child) {

//         margin-right: 35px;
//     }

//     .header-nav__links {
//         display: block;
//         white-space: nowrap;
//         padding-top: 52px;
//         padding-bottom: 52px;
//         font-family: 'DM Sans';
//         font-style: normal;
//         font-weight: 700;
//         font-size: 16px;
//         line-height: 1.3;
//         color: #FFFFFF;

//         &:hover,
//         &:focus {
//             color: #D41443;

//         }
//     }

//     .header__button {
//         display: block;
//         justify-content: center;
//         align-items: center;
//         padding: 12px 37px 11px 37px;

//         text-align: center;
//         background-color: #FFFFFF;
//         border-radius: 22px;
//         margin-left: auto;
//         font-family: 'DM Sans';
//         font-style: normal;
//         font-weight: 700;
//         font-size: 16px;
//         line-height: 1.3;

//         &:hover,
//         &:focus {
//             background-color: #ECEBEB;
//             color: #D41443;

//         }
//     }

//     .header__svg {
//         width: 4px;
//         height: 8px;
//         margin-left: 13px;
//     }

//     .button-menu {
//         display: none;
//     }

//     .mobile-menu {
//         display: none;
//     }

// }
